<div
  class="card card-border bg-base-100 shadow-xl hover:shadow-2xl transition-shadow duration-300 w-full h-full cursor-pointer"
  [routerLink]="['/products', product().id]"
  attr.data-testid="product-card-{{ product().id }}"
  role="button"
>
  <figure>
    <img
      [src]="product().image"
      alt="{{ product().title }}"
      class="w-full h-80 object-contain p-2"
    />
  </figure>
  <div class="card-body flex flex-col justify-between">
    <div class="h-full">
      <div class="badge badge-secondary badge-sm capitalize mb-2">{{ product().category }}</div>
      <div class="card-title line-clamp-2">{{ product().title }}</div>
      <haefele-rating [rate]="product().rating.rate" [count]="product().rating.count" />
      <p class="line-clamp-4 mt-4">{{ product().description }}</p>
    </div>
    <p class="text-2xl font-bold text-end">{{ product().price | appCurrency }}</p>
  </div>
  <div class="card-footer">
    <haefele-add-to-cart-button [productId]="product().id" />
  </div>
</div>
